<section class="hero is-white is-medium">
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="../static/images/flaskex-logo.png" alt="Flaskex">
          <h6 href="/" class="subtitle"><strong>Flaskex</strong></h6>
        </a>
        <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbar-menu-id" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item">
            <div class="field">
              <p class="control has-icons-left">
                <input class="login-input input is-small is-success" type="text" id="login-user" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
              </p>
            </div>
          </a>
          <a class="navbar-item">
            <div class="field">
              <p class="control has-icons-left">
                <input class="login-input input is-small is-success" type="password" id="login-pass" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
              </p>
            </div>
          </a>
          <span class="navbar-item">
            <a id="login-button" class="button is-primary is-inverted">
              <span class="icon">
                <i class="fa fa-check"></i>
              </span>
              <span>Login</span>
            </a>
          </span>
        </div>
      </div>
    </nav>
  </section>