<style>
  .Schedules {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  button {
      padding: 5px;
      margin: 5px;
      border: 1px solid grey;
      background: white;
  }

  li {
      font-size: 12px;
  }
</style>
<section class="Schedules">
  <h2>
    CBC Radio Schedules
  </h2>
  <div id="schedules"></div>  
</section>
<script
  src="../static/js/react.development.js"
  crossorigin
></script>
<script
  src="../static/js/react-dom.development.js"
  crossorigin
></script>

<!-- Load our React component. -->
<script src="../static/js/Schedules.js"></script>
